@import '../../shared/styles/variable';
@header-image: "../error.png";

.auth-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-card {
  // max-width: 900px;
  height: 100%;
  min-height: 350px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 0 none;
  display: flex;
  flex-direction: column;
  border-radius: 0px;

  @media screen and (min-width: @screen-sm) {
    min-height: 100%;
  }

  & .ant-card-body {
    padding: 0;
    display: flex;
    flex: 1;
  }
}

.auth-card-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: @screen-md) {
    margin-bottom: 36px;
  }

  & img {
    cursor: pointer;
    // height: 36px;
    margin-right: 10px;

    [dir=rtl] & {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

.auth-logo-name {
  font-weight: @font-weight-medium;
  font-size: 24px;
}

.ribbon6 {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30px;
  right: -50px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow:0 0 0 3px #00ADEE,  0px 21px 5px -18px rgba(0,0,0,0.6);
  background: #00ADEE;
  text-align: center;
}

.auth-main-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  // background-color: white;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.548);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.68);

  @media screen and (min-width: @screen-sm) {
    padding: 20px;
    width: 50%;
  }

  @media screen and (min-width: @screen-lg) {
    width: 40%;
    padding: 40px;
  }
}


@media (min-width: 500px) {
  .ribbons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ribbon {
    width: 48%;
  }
}

.auth-wel-action {
  position: relative;
  padding: 24px;
  display: block;
  background-color: @grey-900;
  color: @white;
  font-size: @font-size-base;
  width: 100%;
  // background-image: url('https://www.pttplc.com/assets/img/_composition/og-1200x630.jpg');
  background-image: url('https://thumbs.dreamstime.com/b/future-building-construction-engineering-project-concept-double-exposure-graphic-design-engineer-architect-people-worker-195055604.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  background-position: center;
  overflow: hidden;



  @media screen and (min-width: @screen-sm) {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 50%;
  }

  @media screen and (min-width: @screen-lg) {
    // width: 60%;
    padding: 40px;

    /* animation-----------------------------*/
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  @-webkit-keyframes slidein {
  from {background-position: top; background-size:100vw; }
  to {background-position: -100px 0px;background-size:2750px;}
  }

  @keyframes slidein {
  from {background-position: top;background-size:100vw; }
  to {background-position: -100px 0px;background-size:2750px;}

  }
  /* animation-----------------------------*/
  }

  & h2 {
    color: @white;
    font-size: 30px;
    font-weight: @font-weight-bold;
  }

  & p {
    line-height: 1.6;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.auth-wel-content {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  p{
    font-size: 30px;
    color: #e0dfdc;
    letter-spacing: .1em;
    // text-shadow:
    //   0 -1px 0 #fff,
    //   0 1px 0 #2e2e2e,
    //   0 2px 0 #2c2c2c,
    //   0 3px 0 #2a2a2a,
    //   0 4px 0 #282828,
    //   0 5px 0 #262626,
    //   0 6px 0 #242424,
    //   0 7px 0 #222,
    //   0 8px 0 #202020,
    //   0 9px 0 #1e1e1e,
    text-shadow:
     0 -1px 0 #fff,
     0 1px 0 #b9b8b8,
      0 2px 0 #797878,
       0 3px 0 #545353,
        0 4px 0 #525050,
         0 5px 0 #747272,
          0 6px 0 #777777,
           0 7px 0 #222,
            0 8px 0 #202020,
             0 9px 0 #1e1e1e;
  }
}

.auth-recon-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .ant-card-body {
    padding-top: 10px;
    @media screen and (min-width: @screen-sm) {
      padding-top: 28px;
    }
    @media screen and (min-width: @screen-xxl) {
      padding-top: 40px;
    }
  }
}

.confirm-content {
  margin-bottom: 20px;
  font-size: @font-size-base;

  @media screen and (min-width: @screen-xxl) {
    font-size: @font-size-lg;
    margin-bottom: 40px;
  }
}

.confirm-code-input {
  margin-bottom: 24px;
  @media screen and (min-width: @screen-xxl) {
    margin-bottom: 40px;
  }

  & .react-code-input input {
    &:focus {
      outline: none;
    }
  }
}

.confirm-btn {
  border-radius: @border-radius-base;
  width: 100%;
  font-weight: @font-weight-regular;
  font-size: @font-size-base;
}

.reset-btn {
  .confirm-btn;
}

.reset-form {
  position: relative;

  & .form-field {
    margin-bottom: 20px;

    & p {
      margin-bottom: 24px;
      font-size: @font-size-base;
      @media screen and (min-width: @screen-xxl) {
        font-size: @font-size-lg;
      }
    }
  }

  & .ant-form-item-explain-error {
    text-align: left;

    [dir=rtl] & {
      text-align: right;
    }
  }

  & .react-code-input input {
    &:focus {
      outline: none;
    }
  }
}