
#infoDiv {
  .ant-divider-horizontal.ant-divider-with-text {
    display: flex;
    margin: 0px 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgb(255 255 255);
  }
  .btn-plant {
    width: 24px;
    height: 24px;
    padding: 1.5px 0;
    font-size: 14px;
    border-radius: 4px;
    background-color: #04bcff;
    color: white;
  }
  .btn-area {
    width: 24px;
    height: 24px;
    padding: 1.5px 0;
    font-size: 14px;
    border-radius: 4px;
    background-color: #08ff04;
    color: white;
  }
  .btn-building {
    width: 24px;
    height: 24px;
    padding: 1.5px 0;
    font-size: 14px;
    border-radius: 4px;
    background-color: #ff8e04;
    color: white;
  }
  .btn-equipment {
    width: 24px;
    height: 24px;
    padding: 1.5px 0;
    font-size: 14px;
    border-radius: 4px;
    background-color: #ff0404;
    color: white;
  }
  #bt-refresh{
    width: 24px;
    height: 24px;
    padding: 1.5px 0;
    font-size: 14px;
    border-radius: 4px;
    background-color: #0536fb;
    color: white;
    border: 1px solid #FFF;
  }
}
